*, 
::after,
::before {
    box-sizing: border-box;
}

:root {
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --ligth-color: hsl(0, 0%, 100%);
    --secundary-color: hsl(215, 51%, 70%);
    --accent-color: hsl(178, 100%, 50%);
}

img {
    width: 100%;
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    background-color: var(--main-bg-color);
    color: var(--ligth-color);
}

main {
    max-width: 300px;
    background-color: var(--card-bg-color);
    border-radius: 1em;
    padding: 1em;
}

.imgs-container {
    position: relative;
    background-color: var(--accent-color);
    line-height: 0;
    border-radius: 1.1em;
    cursor: pointer;
    transition: all 0.5 ease-in-out;
}

.main-image {
    border-radius: 1em;
}

.view-icon {
    width: 60px;
    opacity: 0;
    position: absolute;
    bottom: 40%;
    left: 40%;
}

.imgs-container:hover .view-icon {
    opacity: 1;
}

.imgs-container:hover .main-image {
    opacity: .5;
}

.main-title {
    font-size: 1.25rem;
    margin-bottom: 0.2em;
    cursor: pointer;
}
.main-title:hover {
    color: var(--accent-color);
}

.main-description {
    color: var(--secundary-color);
    font-weight: 300;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--line-color);
    font-size: 0.875rem;
}

.center-items {
    display: flex;
    align-items: center;
}

.icon {
    width: 15px;
    margin-right: .5em;
}

.eth-img{
    width: 10px;
}

.accent {
    color: var(--accent-color);
}

.secundary {
    color: var(--secundary-color);
}

@media (max-width: 350px) {
    .info {
        flex-direction: column;
        align-items: center;
    }

    .accent {
        margin-bottom: .5em;
    }
}


.made-by {
    display: flex;
    align-items: center;
    padding: .5em 0 0 0;
    font-weight: 300;
}

.accent-hover {
    cursor: pointer;
}

.accent-hover:hover {
    color: var(--accent-color);
}

.avatar {
    width: 30px;
    margin-right: .5em;
    border: 1px solid var(--ligth-color);
    border-radius: 50%;
}